h1{
color: yellowgreen;
background-color: palevioletred;
}
h1{
color: brown;
background-color: aqua;
}
h2{
color: blue;
background-color: peru;
}
h3{
color: blanchedalmond;
background-color: orangered;
}
