h1{
color: red;
background-color: aqua;
}
h2{
color: red;
background-color: aqua;
}
h3{
color: red;
background-color: aqua;
}
h4{
color: red;
    background-color: aqua;
}
ol{
color: brown;
    background-color: aqua;
}
h5{
color: brown;
    background-color: aqua;
}
ul{
color: red;
    background-color: aqua;
}
h6{
color: blue;
    background-color: aqua;
}
table{
color: blue;
background-color: aqua;
}
form{
color: blue;
    background-color: aqua;
}
b{
color: aliceblue;
    background-color: black;
}
i{
color: aliceblue;
    background-color: black;
}
u{
color: aliceblue;
    background-color: black;
}
h2{
color: aqua;
    background-color: black;
}
p{
color: brown;
    background-color: red;
}
table{
color: aqua;
    background-color: brown;
}
name{
color: aqua;
    background-color: red;
}
nimi{
color: aqua;
    background-color:red;
}
ss{
color: red;
    background-color: black;
}







